body {
    background-color: white;
    text-align: center;
}
.node-viewer img {
    padding-top: 5;
    padding-left: 5;
    margin: 0 auto;
    max-width: 100%;
    max-height: 80vh;
}
.nav-buttons a:link, .nav-buttons a:visited {
    background-color: white;
    color: black;
    padding: 12px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
}
.nav-buttons a:hover, .nav-buttons a:active {
    background-color: rgb(107, 38, 255);
    color: white;
}
.nav-info {
    font-family: sans-serif;
    color: black;
    font-size: 1.5rem;
}
